.ant-layout {
  background: #efeff5;
  min-height: 100vh;
  overflow: hidden;

  .logo {
    height: 32px;
    margin: 12px 12px 2rem 12px;
    cursor: pointer;
  }

  .content {
    display: flex;
    justify-content: center;
    background: #efeff5;
    overflow-y: auto;
    margin-bottom: 16px;
  }
  .outlet-layout {
    width: 100%;
    height: 100%;
  }
}
